@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100 900;
  src: 
    url('./Roboto.woff2') format('woff2'),
    url('./Roboto.woff') format('woff'), 
    url('./Roboto.ttf') format('truetype');
  font-display: swap;
}

